<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @user.userId %>
</p>

<p>
  <strong>Usercompany:</strong>
  <%= @user.userCompany %>
</p>

<p>
  <strong>Userdiscountrate:</strong>
  <%= @user.userDiscountRate %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
