<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :itemId %><br>
    <%= f.text_field :itemId %>
  </div>
  <div class="field">
    <%= f.label :itemSupplier %><br>
    <%= f.text_area :itemSupplier %>
  </div>
  <div class="field">
    <%= f.label :itemStockQuantity %><br>
    <%= f.number_field :itemStockQuantity %>
  </div>
  <div class="field">
    <%= f.label :itemBasePrice %><br>
    <%= f.number_field :itemBasePrice %>
  </div>
  <div class="field">
    <%= f.label :itemTags %><br>
    <%= f.text_area :itemTags %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
